.nav-bar-block, .bar {
  background-color: teal !important;
}

div.title{
	color: white !important;
}

div.card-header{
	background-color: grey;
}

.placeholder-icon{
  color: teal  !important;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
color: teal !important;
}

.error{
	color:red;
}